.footerContainer {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #191919;
}

.footer {
  background-color: #191919f1;
  color: white;
  text-align: center;
  padding: 20px;
  border-top: 1px solid #191919;
  font-size: 0.8rem;
  transition: transform 0.3s ease-in-out;
}

.logoImage2 {
  width: 30%;
  height: 30%;
  margin-bottom: 10px;
}

.footer.hidden {
  transform: translateY(100%);
}

.footer.visible {
  transform: translateY(0);
}

@media (max-width: 768px) {
  .footer {
    padding: 10px;
  }

  .logoImage2 {
    width: 120px;
  }
}
