.sidebar {
    width: 200px;
    background-color: #191919;
    color: white;
    padding: 20px;
  }
  
  .sidebar h2 {
    margin-top: 0;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 10px;
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
  }
  
  .sidebar ul li a:hover {
    color: #0070f3;
  }
  
  .sidebar ul li a.active {
    font-weight: bold;
    color: #0070f3;
  }
  