.admin-dashboard-container {
    background-color: white;
    display: flex;
    width: 88.1%;
    max-width: 1182px;
    margin: auto;
  }
  
  .admin-sidebar {
    display: block;
    width: 210px;
    background-color: #191919;
    color: white;
    padding: 20px;
    
  }
  
  .admin-sidebar h2 {
    margin-top: 0;
  }
  
  .admin-sidebar ul {
    display: block;
    width: 200px;
    list-style-type: none;
    padding: 0;
  }
  
  .admin-sidebar ul li {
    position: relative;
    bottom: 30px;
    margin: 10px 0;
    font-weight: 600;
    padding-top: 40px;
    text-align: center;
  }

  
  .admin-sidebar ul li a {
    color: white;
    text-decoration: none;
  }
  .admin-sidebar ul li a:hover {
    position: relative;
    left: 35px;
    display: block;
    transform: scale(1.2);
    background-color: white;
    color: #191919;
    border-radius: 15px;
    padding: 5px;
  }
  
  .admin-dashboard-content {
    flex-grow: 1;
    padding: 20px;
  }
  